<h1 data-anchor-id="lzyq" id="简单介绍一下自己">简单介绍一下自己</h1><p data-anchor-id="ngfb">今年还是一个普通的高三高中生。一个爱打篮球，写代码的少年。</p><p data-anchor-id="az3g">真的是普通，很普通，非常普通。</p><div class="md-section-divider"></div><h1 data-anchor-id="xbfy" id="详细写写你是如何走上编程的道路">详细写写你是如何走上编程的道路</h1><p data-anchor-id="mboh">因为自己是上的高职的学校，所以就有了网页设计的这一门课程，起初我对编程这块一点都不感兴趣的，但是周围的几个朋友和学校一个实验室把我带进了编程的世界。然后在学校的实验室里面也做了不少东西，在网上和许许多多的大牛交流，逐渐明白了什么是编程，也就一个不小心就走上了编程的道路上了。</p><div class="md-section-divider"></div><h1 data-anchor-id="edvj" id="介绍一些你比较喜欢的软件和硬件">介绍一些你比较喜欢的软件和硬件</h1><p data-anchor-id="5z4t">比较喜欢的软件有：</p><ul data-anchor-id="28y4">
<li>sublime 耳熟能详的王道编辑器</li>
<li>webstorm 前端开发利器</li>
<li>网易云音乐 UWP 版</li>
</ul><p data-anchor-id="jtbx">比较喜欢的硬件：</p><ul data-anchor-id="7ua6">
<li>MacBook Pro 虽然现在还没有</li>
<li>机械键盘</li>
<li>SSD</li>
</ul><div class="md-section-divider"></div><h1 data-anchor-id="kdab" id="作为工具控的你们也可以分享自己在工作学习生活中用到的神器">作为工具控的你们也可以分享自己在工作、学习、生活中用到的神器</h1><p data-anchor-id="qlep">之前我写一篇关于自己的前端开发工具箱的文章，有兴趣的小伙伴可以去看看：<a href="https://segmentfault.com/a/1190000003836940" target="_blank">传送门</a>。</p><div class="md-section-divider"></div><h1 data-anchor-id="m0lk" id="有没有写过一些黑科技狂拽酷炫屌炸天型程序">有没有写过一些黑科技（狂拽酷炫屌炸天）型程序</h1><p data-anchor-id="5736">狂拽酷炫叼渣天的东西虽然我没有做过，基本上还是因为自己能力还是不足。日后说不定就捣鼓chulai出来呢。请大家 follow 我的 github 吧。</p><div class="md-section-divider"></div><h1 data-anchor-id="zfuh" id="推荐一些书籍或者编程大杀器给大家呗">推荐一些书籍或者编程大杀器给大家呗</h1><p data-anchor-id="mjcg">就拿我最熟悉的<code>js</code>来说吧：</p><ul data-anchor-id="tz7u">
<li>《JavaScript 语言精粹》 蝴蝶书！</li>
<li>《JavaScript权威指》 犀牛书！</li>
<li>《你不知道的 JavaScript 上》</li>
<li>《JavaScript 高级程序设计 第三版》 高程三！</li>
</ul><p data-anchor-id="kuyf">其实上面推荐都是学<code>js</code>必看的书，尤其是蝴蝶书和犀牛书，就是<code>js</code>的圣经。</p><div class="md-section-divider"></div><h1 data-anchor-id="07y5" id="哪些好的习惯程序员值得拥有">哪些好的习惯程序员值得拥有？</h1><p data-anchor-id="acb7">我觉得懒惰是一个非常非常值得拥有的习惯，但是说的不是脑袋上懒惰，而是要把重复的事情交给机器去处理这种懒惰的思想。</p><p data-anchor-id="vybf">还有就是重要的事情要说三遍： <br>
<strong>学好英语！</strong> <br>
<strong>学好英语！</strong> <br>
<strong>学好英语！</strong></p><div class="md-section-divider"></div><h1 data-anchor-id="74xe" id="能讲一讲在编程路上踩过哪些坑么">能讲一讲在编程路上踩过哪些坑么？</h1><p data-anchor-id="d822">像我这种一点编程基础都没有的人，开始学习的时候还是遇到不少的坑，例如找学习资料和提问的方式。慢慢入门之后，就是在做东西上代码风格还有和别人合作开发的时候，交流的问题。</p><div class="md-section-divider"></div><h1 data-anchor-id="inn0" id="请推荐一些程序员专用的追妹子-or-汉子大法">请推荐一些程序员专用的追妹子 or 汉子大法。</h1><p data-anchor-id="j2i5"><del>程序员怎么可能有女朋友呢！</del></p><div class="md-section-divider"></div><h1 data-anchor-id="a4cd" id="其他想说的">其他想说的</h1><p data-anchor-id="sc3b">其实自己学习编程的时间也不是很长吧，真要说编程之道的话也确实没什么好说，因为缺乏很多的实战经验，很多东西都是自己捣鼓来捣鼓去。还有 SF 真的还是一个不错的程序员社区，虽然一开始只是一个普通的问答网站，但是慢慢的发展人也越来越多了，社区的质量也在慢慢的提高，产品也做的很不错。或许还有许许多多的高中生也走向了编程的道路，虽然这条路是需要不断的学习才能够做到更好，但是也在不断的吸引更多聪明的人加入。</p><p data-anchor-id="qjdb">现在我也就是一个普普通通的写代码少年，过几年后说不定我就是可以独当一面的程序员呢！</p><blockquote data-anchor-id="kuyr" class="white-blockquote">
  <p>本文参与了 <a href="https://segmentfault.com/a/1190000004509593#notify" target="_blank">SegmentFault「我的编程之路」</a>计划，欢迎正在阅读的你也加入，一起分享。</p>
</blockquote></div>